[Desktop Entry]
Name=DuZeru welcome
Name[ca]=DuZeru welcome
Name[en_AU]=DuZeru welcome
Name[en_GB]=DuZeru welcome
Name[pt]=Bem vindo
Name[pt_BR]=Bem vindo
Name[pt_PT]=Boas vindas
Comment=Wellcome for DuZeru GNU/Linux
Comment[en_AU]=Wellcome for DuZeru GNU/Linux
Comment[en_GB]=Wellcome for DuZeru GNU/Linux
Comment[pt]=Bem vindo ao DuZeru GNU/Linux
Comment[pt_BR]=Bem vindo ao DuZeru GNU/Linux
Comment[pt_PT]=Bem vindo ao DuZeru GNU/Linux
Exec=duzeru-welcome
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;Utility;
Keywords=Configuration;Menu;User;
Icon=duzeru-welcome
X-Ubuntu-Gettext-Domain=duzeru-welcome
